* {
  margin: 0;
}

.center {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.button-container {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-right: 10px;
  /* Khoảng cách giữa các nút */
}

.user-profile {
  margin-left: 50px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.row {
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  margin-top: 10px;
  text-align: center;
}

/* Định dạng giao diện form */
.image-upload-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Định dạng các fieldset trong form */
fieldset {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Định dạng nút tải lên */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#id_caption {
  width: 300px;
  height: 32px;
}

h2 {
  text-align: center;
}

.profile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile-content .content{
  border: 2px solid #000;
  padding: 20px;
}
.profile-update-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  .profile-update-form h2 {
    text-align: center;
  }

  .profile-update-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile-update-form form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .profile-update-form form button:hover {
    background-color: #0056b3;
  }