<style>
  /* Định dạng giao diện form */
  .topic-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  /* Định dạng trường 'name' và 'description' */
  .form-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  /* Định dạng nút lưu */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #0056b3;
  }
</style>

<form class="topic-form" method="post" action="{% url 'change_password' %}">
    {% csrf_token %}
    <div class="form-field">
        {{ form.as_p }}
    </div>
    <button type="submit">Đổi mật khẩu</button>
</form>
