{% extends "base.html" %}
{% block content %}
  <div style="display: flex;">
    {% for topic in topics %}
    <div style="flex: 1;">
      <div style="border: 1px solid #ccc;padding: 10px;">
        <a href="{% url 'topic_detail' topic.id %}">
          {{ topic.name }}
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="py-5 bg-light">
    <div class="box-item image-gallery">
      {% for image in images %}
      <div class="image-item">

        <a href="{% url 'image_detail' image_id=image.id %}">
          <img src="{{ image.image.url }}" alt="{{ image.caption }}" />
        </a>
        <div>
          <p>{{ image.caption }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}