{% extends "base.html" %}

{% block content %}
  <h2>{{ image.caption }}</h2>
    <div class="center">
      <img src="{{ image.image.url }}" alt="{{ image.title }}">
    </div>
    <div class="button-container">
        <a href="{% url 'download_image' image_id=image.id %}"><button class="button">Download</button></a>
        <form method="post" action="{% url 'save_image_to_library' image.id %}">
          {% csrf_token %}
          <button type="submit" class="button"><i class="fas fa-save"></i> Save</button>
        </form>
    </div>
  <h3>Hình ảnh có cùng tag:</h3>
    <ul>
      {% for tag in tags %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
  <div class="py-5 bg-light">
    <div class="box-item image-gallery">
    {% for img in images_with_same_tag %}
      <div class="image-item">
      <img src="{{ img.image.url }}" alt="{{ img.caption }}">
      </div>
      {% endfor %}
    </div>
  </div>
  <h3>Hình ảnh có cùng topic</h3>
  <div class="image-list">
    {% for image in images %}
      <div class="image-item">
        <img src="{{ image.image.url }}" alt="{{ image.title }}">
        <h3>{{ image.title }}</h3>
        <p>{{ image.description }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
