{% extends "base.html" %}

{% block content %}
  <h2>{{ image.caption }}</h2>
    <h4>Tags:</h4>
    <ul>
      {% for tag in tags %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
    <div class="center">
      <img src="{{ image.image.url }}" alt="{{ image.title }}">
    </div>

    <div class="button-container">
        <button class="button">
          <a href="{% url 'download_image' image_id=image.id %}"><i class="fa-solid fa-download" ></i> Download</a>
        </button>
        <form method="post" action="{% url 'save_image_to_library' image.id %}">
          {% csrf_token %}
          <button type="submit" class="button"><i class="fas fa-save"></i> Save</button>
        </form>
    </div>


  <h3>Hình ảnh có cùng tag</h3>
  <div class="slideshow">
    {% for img in images_with_same_tag %}
      <img src="{{ img.image.url }}" alt="{{ img.title }}">
    {% endfor %}
  </div>

  <h3>Hình ảnh có cùng topic</h3>
  <div class="image-list">
    {% for image in images %}
      <div class="image-item">
        <img src="{{ image.image.url }}" alt="{{ image.title }}">
        <h3>{{ image.title }}</h3>
        <p>{{ image.description }}</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
