{% extends "base.html" %}
{% block content %}
  <div class="user-profile">
    <h2>Thông tin cá nhân</h2>
    <div class="avatar">
      <img src="{{ user_profile.avatar.url }}" alt="{{ user_profile.user.username }}'s avatar">
    </div>
    <div id="avatar-popup" style="display: none;">
    </div>
    <div class="user-details">
      <p>{{ user_profile.user.username }}</p>
      <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
      <p>{{ user_profile.bio }}</p>
      <a href="{% url 'change_password' %}">change password</a>
      <p><strong>Thư viện hình ảnh:</strong></p>
      <ul>
        {% for image in user_profile.library.all %}
          <li>
            <div class="image-saved">
              <img src="{{ image.image.url }}" alt="{{ image.caption }}">
              <a href="{% url 'remove_image_from_library' image.id %}">Remove</a>
            </div>

          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}