{% extends 'master.html' %}

{% block title %}Addfood{% endblock %}

{% block content %}
<main>
  <center><div class="middle-admin-reg">
    <center ><legend style="margin-top:25px;box-shadow:0px 3px 5px;width:50%;background:white;border-radius:25px;font-family: 'Courgette', cursive;">New Food</legend></center>
    <div class="form-container">
      <form class="" action="addfoods" enctype="multipart/form-data" method="post">{% csrf_token %}
      <span class="entry-box">Food Name : <input type="text" name="FoodName" placeholder="Eg: &quot;Dragon-Roll&quot;"></span>
      <span class="entry-box">Food Category : <input type="text" name="FoodCat" placeholder="Eg : &quot;Snacks&quot;"></span>
      <span class="entry-box">Food Price : <input type="tel" name="FoodPrice" maxlength="6"  placeholder="&quot;in Rs&quot;" required></span>
      <span class="entry-box">Food image : <input type="file" class="valid" name="FoodImage" style="padding-left:0px" required/></span>
      <center><br/><button type="reset"class="butn" style="background-image: linear-gradient(190deg, rgba(183,28,28 ,1), rgba(239,154,154 ,1));" name="button">Cancel</button>
      &nbsp;&nbsp;<button type="submit"class="butn"  name="button">Add</button>
        </center>
      </form>
    </div>
  </div></center>
</main>
{% endblock %}
