{% extends 'master.html' %}

{% block title %}cartlist{% endblock %}

{% block content %}
<main style="margin-top:80px;">
  <form action="placeorder" method="post">
  {% csrf_token %}
{% for c in cartlist %}
  <div class="" style="position: static;width:70%;height:150px;background:white;margin-left: 15%;float:left;box-shadow:1px 1px 5px;border-radius:4px;margin-bottom:10px;">
    <div class="" style="position: static;height: 140px;float: left;width:200px;background-image:url(/media/{{c.FoodImage}});background-size: 100% 100%;border-radius:4px;overflow:hidden;margin: 5px;">
    </div>
    <span style="color:black;float:left;margin-left:10px;"><span style="font-size:14px;">Cart ID: <b style="letter-spacing: 3px;color: grey;">{{c.CartId}}</b></span><br /><b style="font-size:20px;"><i>{{c.FoodName}}</i></b><br/><b>Quantity :</b>
    <input type="number" name="FoodQuant" class="qnt" value="{{c.FoodQuant}}" name="FoodQuant" id="foodqnt" min="1" max="20" style="text-align:center;"/><input type="hidden" id="ctid" value="{{c.CartId}}" readonly />
<br />
<tr>
<td><b>Price:  </b></td><td><td id="tlp" style="color:black;"><input class="totalprice" style="outline:none;border:none;width:auto!important;" name="FoodPrice" value="{{c.FoodPrice}}" readonly></td><br />
</tr>
  </span>

    <a href="/deletecart/{{c.CartId}}"><button type="button" name="button" style="float: right;border-bottom-left-radius: 12px;padding: 15px 15px 15px 15px;margin-bottom: 0px;margin-top: auto!important;background: red;color:white;font-weight: bold;border:none;outline:none;">DELETE</button></a>
  </div>
  {% endfor %}
  <input onclick="confirm()" value="CONFIRM" id="cnf-btn" class="butn" style="cursor:pointer;text-align:center;box-shadow:1px 1px 5px;border-radius:5px;width:50%;margin-left:25%;outline:none;border:none;height:40px;margin-top:20px;margin-bottom:20px;"/>
<input type="submit" value="PLACE ORDER" id="sub-btn" class="butn" style="display:none;box-shadow:1px 1px 5px;border-radius:5px;width:50%;margin-left:25%;outline:none;border:none;height:40px;margin-top:20px;margin-bottom:20px;"/>
</form>
</main>
{% endblock %}