{% extends 'master.html' %}
<style media="screen">
  .w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
  .w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
  .mySlides {display:none;}
</style>

{% block title %}foodlist{% endblock %}

{% block content %}
<main style="width:100%;margin-top: 0;margin-bottom: 10px;background-color:#FFF;">
  <div class="" style="max-width:100%;padding-top:20px;padding-bottom:20px;">
    <img class="mySlides" src="{% static 'images/slider1.jpg' %}" height="400px" style="width:100%">
    <img class="mySlides" src="{% static 'images/slider2.jpg' %}" height="400px" style="width:100%">
    <img class="mySlides" src="{% static 'images/slider3.jpg' %}" height="400px" style="width:100%">
    <img class="mySlides" src="{% static 'images/slider4.jpg' %}" height="400px" style="width:100%">
    <div class="" style="position:static;">
<hr />
      {% for f in foodlist %}
      <div class="card">
      <img src="{{f.FoodImage.url}}" alt="" style="height: 200px;width:100%;">
      <h1>{{f.FoodName}}</h1>
      <p class="price">{{f.FoodPrice}}</p>
      {% if request.session.CustId is not None and request.session.AdminId is None %}
      <p><a href="/addtocart/{{f.FoodId}}"><button>Add to Cart</button></a></p>
      {% endif %}
      {% if request.session.CustId is None and request.session.AdminId is not None %}
      <p><a href="/getfood/{{f.FoodId}}"><button>Update</button></a></p>
      <p><a href="/deletefood/{{f.FoodId}}"><button>Delete</button></a></p>
      {% endif %}
      </div>
      {% endfor %}


    </div>

  </div>
  <script>
    var myIndex = 0;
    sizzlecarousel();

    function sizzlecarousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(sizzlecarousel, 2000);
    }
  </script>
</main>
{% endblock %}